# Ignore Visual Studio files
.vs/

# Игнорировать временные файлы сборки
build/
cmake-build-debug/

# Игнорировать конфигурации среды разработки
.vscode/
.idea/

# Игнорировать бинарные файлы
*.exe
*.dll
*.o
*.class

# Игнорировать локальные настройки
.env
config.local.json
